@model Mateus.Model.BussinesLogic.Views.CountryModel.CountryView
           
<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>
        @Html.ActionLink(" ", "Index", Session["ControllerReferrer"].ToString(), null, new { @class = "button back padding-right-0" })
        <a href="#" class="button refresh padding-right-0 margin-right-15"></a>       
        <input type="submit" class="button save" value="Spremi" />
    </div>
</div>

<div id="content">

    <div class="grid-5">
        <div class="form">

            <h2>Informacije o zemlji</h2>
                
            <fieldset>
                <div class="row">
                    <label for="Name">Naziv:<b>*</b><span>molimo unesite naziv</span></label>
                    <div class="input">@Html.TextBoxFor(country => country.Name, new { @class = "w100" })</div>
                    @if(IsPost) { <div class="error">@Html.ValidationMessageFor(country => country.Name)</div> }
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="NameEn">Naziv [en]:<b>*</b><span>molimo unesite naziv [en]</span></label>
                    <div class="input">@Html.TextBoxFor(country => country.NameEn, new { @class = "w100" })</div>
                    @if(IsPost) { <div class="error">@Html.ValidationMessageFor(country => country.NameEn)</div> }
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Citizenship">Državljanstvo:<b>*</b><span>molimo upišite državljanstvo</span></label>
                    <div class="input">@Html.TextBoxFor(country => country.Citizenship, new { @class = "w100" })</div>
                    @if(IsPost) { <div class="error">@Html.ValidationMessageFor(country => country.Citizenship)</div> }
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Alpha2Code">ISO 3166-1 alpha 2 šifra:<b>*</b><span>molimo unesite ISO 3166-1 alpha 2 šifru</span></label>
                    <div class="input">@Html.TextBoxFor(country => country.Alpha2Code, new { @class = "w10", maxlength = "2" })</div>
                    @if(IsPost) { <div class="error">@Html.ValidationMessageFor(country => country.Alpha2Code)</div> }
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Alpha3Code">ISO 3166-1 alpha 3 šifra:<b>*</b><span>molimo unesite ISO 3166-1 alpha 3 šifru</span></label>
                    <div class="input">@Html.TextBoxFor(country => country.Alpha3Code, new { @class = "w10", maxlength = "3" })</div>
                    @if(IsPost) { <div class="error">@Html.ValidationMessageFor(country => country.Alpha3Code)</div> }
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="NumericCode">ISO 3166-1 numerička šifra:<b>*</b><span>molimo unesite ISO 3166-1 numeričku šifru</span></label>
                    <div class="input">@Html.TextBoxFor(country => country.NumericCode, new { @class = "w10", maxlength = "3" })</div>
                    @if(IsPost) { <div class="error">@Html.ValidationMessageFor(country => country.NumericCode)</div> }                                                                                                                                                                                           
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Risk">Rizik:<span>da li je država rizična</span></label>
                    <div class="input">@Html.CheckBox("Risk")</div>
                    <div class="clear"></div>
                </div>
            </fieldset>

        </div>
    </div>

    <div class="clear"></div>

</div>