@model List<Mateus.Model.BussinesLogic.Views.LegalEntityModel.LegalEntityView>
           
@using PITFramework.Security;
@using PITFramework.Support.Grid;

@{
    string[] userRoles = SecurityHelper.GetUserRolesFromCookie();
    
    bool firstRequest = false;
    
    if( Request.QueryString["Name"] == null && 
        Request.QueryString["OIB"] == null && 
        Request.QueryString["MB"] == null && 
        Request.QueryString["MBS"] == null && 
        
        Request.QueryString["numberOfEmployeesFrom"] == null && 
        Request.QueryString["numberOfEmployeesnumberOfEmployeesToFrom"] == null && 
        Request.QueryString["fundamentalCapitalFrom"] == null && 
        Request.QueryString["fundamentalCapitalTo"] == null && 
        
        Request.QueryString["BankPK"] == null && 
        Request.QueryString["TaxPK"] == null && 
        
        Request.QueryString["SubstationPK"] == null && 
        Request.QueryString["CommercialCourtPK"] == null && 
        
        Request.QueryString["FormPK"] == null && 
        Request.QueryString["ActivityPK"] == null && 

        Request.QueryString["MonumentAnnuity"] == null && 
        Request.QueryString["TouristOffice"] == null) 
    {
        firstRequest = true;
    }

    string Name = Request.QueryString["Name"] != null ? Request.QueryString["Name"] : "";
    string OIB = Request.QueryString["OIB"] != null ? Request.QueryString["OIB"] : "";
    string MB = Request.QueryString["MB"] != null ? Request.QueryString["MB"] : "";
    string MBS = Request.QueryString["MBS"] != null ? Request.QueryString["MBS"] : ""; 
    
    string numberOfEmployeesFrom = Request.QueryString["numberOfEmployeesFrom"] != null ? Request.QueryString["numberOfEmployeesFrom"] : "";
    string numberOfEmployeesTo = Request.QueryString["numberOfEmployeesTo"] != null ? Request.QueryString["numberOfEmployeesTo"] : "";
    
    string fundamentalCapitalFrom = Request.QueryString["fundamentalCapitalFrom"] != null ? Request.QueryString["fundamentalCapitalFrom"] : "";
    string fundamentalCapitalTo = Request.QueryString["fundamentalCapitalTo"] != null ? Request.QueryString["fundamentalCapitalTo"] : ""; 
    
    string BankPK = Request.QueryString["BankPK"] != null ? Request.QueryString["BankPK"] : "";
    string TaxPK = Request.QueryString["TaxPK"] != null ? Request.QueryString["TaxPK"] : "";
    
    string SubstationPK = Request.QueryString["SubstationPK"] != null ? Request.QueryString["SubstationPK"] : "";
    string CommercialCourtPK = Request.QueryString["CommercialCourtPK"] != null ? Request.QueryString["CommercialCourtPK"] : ""; 
    
    string FormPK = Request.QueryString["FormPK"] != null ? Request.QueryString["FormPK"] : "";
    string ActivityPK = Request.QueryString["ActivityPK"] != null ? Request.QueryString["ActivityPK"] : "";    
    
    bool showGrid = false;
    
    if( Request.QueryString["ShowOrdinal"] != null || 
        Request.QueryString["ShowID"] != null ||
        Request.QueryString["ShowName"] != null || 
        Request.QueryString["ShowShortName"] != null || 
        Request.QueryString["ShowOIB"] != null || 
        Request.QueryString["ShowMB"] != null || 
        Request.QueryString["ShowMBS"] != null || 
        Request.QueryString["ShowForm"] != null || 
        Request.QueryString["ShowActivity"] != null || 
        Request.QueryString["ShowActivityDescription"] != null || 
        Request.QueryString["ShowFundamentalCapital"] != null || 
        
        Request.QueryString["ShowRegionalOffice"] != null || 
        Request.QueryString["ShowSubstation"] != null || 
        Request.QueryString["ShowDateOfRegistration"] != null || 
        Request.QueryString["ShowCommercialCourt"] != null || 
        Request.QueryString["ShowTax"] != null || 
        
        Request.QueryString["ShowChangeDate"] != null || 
        
        Request.QueryString["ShowCountry"] != null || 
        Request.QueryString["ShowCounty"] != null || 
        Request.QueryString["ShowCityCommunity"] != null || 
        Request.QueryString["ShowPostalOffice"] != null || 
        Request.QueryString["ShowPlace"] != null || 
        Request.QueryString["ShowStreetName"] != null || 
        
        Request.QueryString["ShowPhone"] != null || 
        Request.QueryString["ShowFax"] != null || 
        Request.QueryString["ShowMobile"] != null || 
        Request.QueryString["ShowEMail"] != null) 
    {
        showGrid = true;
    }
}


<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>
        <a href="#" class="button refresh padding-right-0"></a>      
    </div>
</div>
<div id="content">
    @using (Html.BeginForm("LegalEntities", "Report", FormMethod.Get))
    {
        <div id="report-controls">
            <div class="grid-5 text-left no-print">
                <div class="filter-text">Molimo odaberite filter:</div> 
                <div class="inputs">

                    @Html.TextBox("Name", Name, new { placeholder = "Unesite ime pravne osobe", @class = "w30 autocomplete margin-right-10", data_autocomplete_url = Url.Action("AutocompleteLegalEntitiesName", "Ajax", null), autocomplete = "off" })
                    @Html.TextBox("OIB", Name, new { placeholder = "Unesite OIB pravne osobe", @class = "w30 autocomplete", data_autocomplete_url = Url.Action("AutocompleteLegalEntitiesOIB", "Ajax", null), autocomplete = "off" })<br />
                    @Html.TextBox("MB", MB, new { placeholder = "Unesite MB pravne osobe", @class = "w30 autocomplete margin-right-10", data_autocomplete_url = Url.Action("AutocompleteLegalEntitiesMB", "Ajax", null), autocomplete = "off" })
                    @Html.TextBox("MBS", Name, new { placeholder = "Unesite MBS pravne osobe", @class = "w30 autocomplete", data_autocomplete_url = Url.Action("AutocompleteLegalEntitiesMBS", "Ajax", null), autocomplete = "off" })<br />

                    @Html.TextBox("numberOfEmployeesFrom", numberOfEmployeesFrom, new { placeholder = "Broj zaposlenih od", @class = "w40 margin-right-10" })
                    @Html.TextBox("numberOfEmployeesTo", numberOfEmployeesTo, new { placeholder = "Broj zaposlenih do", @class = "w40" })<br />

                    @Html.TextBox("fundamentalCapitalFrom", fundamentalCapitalFrom, new { placeholder = "Temeljni kapital od", @class = "w40 margin-right-10" })
                    @Html.TextBox("fundamentalCapitalTo", fundamentalCapitalTo, new { placeholder = "Temeljni kapital do", @class = "w40" })<br /><br />

                    @Html.DropDownList("BankPK", ViewBag.Banks as SelectList, "Odaberite banku", new { @class = "w40 margin-right-10" })
                    @Html.DropDownList("TaxPK", ViewBag.Taxes as SelectList, "Odaberite porez", new { @class = "w40" })<br />

                    @Html.DropDownList("SubstationPK", ViewBag.Substations as SelectList, "Odaberite ispostavu", new { @class = "w40 margin-right-10" })
                    @Html.DropDownList("CommercialCourtPK", ViewBag.CommercialCourts as SelectList, "Odaberite trgovački sud", new { @class = "w40" })<br />

                    @Html.DropDownList("FormPK", ViewBag.Forms as SelectList, "Odaberite oblik", new { @class = "w40 margin-right-10" })
                    @Html.DropDownList("ActivityPK", ViewBag.Activities as SelectList, "Odaberite djelatnost", new { @class = "w40" })<br /><br />
                                
                    @Html.Label("TouristOffice", "Turistička zajednica")
                    @Html.CheckBox("TouristOffice", LinkHelper.isChecked(Request.QueryString["TouristOffice"]))
                                
                    @Html.Label("MonumentAnnuity", "Spomenička renta")
                    @Html.CheckBox("MonumentAnnuity", LinkHelper.isChecked(Request.QueryString["MonumentAnnuity"]))<br />
                    
                    <input type="submit" value="Pretraži" class="button search margin-top-20" />
                    @Html.ActionLink("Očisti odabir", "ClearReport", null, new { @class = "button margin-top-20"})

                </div>
            </div>
            <div class="grid-5 text-left no-print">

                <div class="filter-text">Molimo odaberite polja:</div> 

                <div class="inputs">

                    <label for="ShowBasicInfo"><b>Osnovne informacije</b></label>
                    @Html.CheckBox("ShowBasicInfo", LinkHelper.isChecked(Request.QueryString["ShowBasicInfo"]))<br />

                    @Html.Label("ShowOrdinal", "#")
                    @Html.CheckBox("ShowOrdinal", LinkHelper.isChecked(Request.QueryString["ShowOrdinal"]), new { @class = "basic-info-checkbox" })

                    @Html.Label("ShowID", "ID")
                    @Html.CheckBox("ShowID", LinkHelper.isChecked(Request.QueryString["ShowID"]), new { @class = "basic-info-checkbox" })<br />

                    @Html.Label("ShowName", "Naziv")
                    @Html.CheckBox("ShowName", LinkHelper.isChecked(Request.QueryString["ShowName"]), new { @class = "basic-info-checkbox" })

                    @Html.Label("ShowShortName", "Kratki naziv")
                    @Html.CheckBox("ShowShortName", LinkHelper.isChecked(Request.QueryString["ShowShortName"]), new { @class = "basic-info-checkbox" })<br />

                    @Html.Label("ShowOIB", "OIB")
                    @Html.CheckBox("ShowOIB", LinkHelper.isChecked(Request.QueryString["ShowOIB"]), new { @class = "basic-info-checkbox" })

                    @Html.Label("ShowMB", "MB")
                    @Html.CheckBox("ShowOIB", LinkHelper.isChecked(Request.QueryString["ShowOIB"]), new { @class = "basic-info-checkbox" })<br />

                    @Html.Label("ShowMBS", "MBS")
                    @Html.CheckBox("ShowMBS", LinkHelper.isChecked(Request.QueryString["ShowMBS"]), new { @class = "basic-info-checkbox" })

                    @Html.Label("ShowForm", "Oblik")
                    @Html.CheckBox("ShowForm", LinkHelper.isChecked(Request.QueryString["ShowForm"]), new { @class = "basic-info-checkbox" })<br />

                    @Html.Label("ShowActivity", "Djelatnost")
                    @Html.CheckBox("ShowActivity", LinkHelper.isChecked(Request.QueryString["ShowActivity"]), new { @class = "basic-info-checkbox" })

                    @Html.Label("ShowActivityDescription", "Opis stvarne djelatnosti")
                    @Html.CheckBox("ShowActivityDescription", LinkHelper.isChecked(Request.QueryString["ShowActivityDescription"]), new { @class = "basic-info-checkbox" })<br />

                    @Html.Label("ShowFundamentalCapital", "Temeljni kapital")
                    @Html.CheckBox("ShowFundamentalCapital", LinkHelper.isChecked(Request.QueryString["ShowFundamentalCapital"]), new { @class = "basic-info-checkbox" })<br /><br />


                    <label for="ShowRegistrationInfo"><b>Podaci o registraciji</b></label>
                    @Html.CheckBox("ShowRegistrationInfo", LinkHelper.isChecked(Request.QueryString["ShowRegistrationInfo"]))<br />

                    @Html.Label("ShowRegionalOffice", "Područni ured")
                    @Html.CheckBox("ShowRegionalOffice", LinkHelper.isChecked(Request.QueryString["ShowRegionalOffice"]), new { @class = "registration-info-checkbox" })

                    @Html.Label("ShowSubstation", "Ispostava")
                    @Html.CheckBox("ShowSubstation", LinkHelper.isChecked(Request.QueryString["ShowSubstation"]), new { @class = "registration-info-checkbox" })<br />

                    @Html.Label("ShowDateOfRegistration", "Datum registracije")
                    @Html.CheckBox("ShowDateOfRegistration", LinkHelper.isChecked(Request.QueryString["ShowDateOfRegistration"]), new { @class = "registration-info-checkbox" })

                    @Html.Label("ShowCommercialCourt", "Trgovački sud")
                    @Html.CheckBox("ShowCommercialCourt", LinkHelper.isChecked(Request.QueryString["ShowCommercialCourt"]), new { @class = "registration-info-checkbox" })<br />

                    @Html.Label("ShowTax", "Porez")
                    @Html.CheckBox("ShowTax", LinkHelper.isChecked(Request.QueryString["ShowTax"]), new { @class = "registration-info-checkbox" })<br /><br />


                    @Html.Label("ShowChangeDate", "Datum rješenja")
                    @Html.CheckBox("ShowChangeDate", LinkHelper.isChecked(Request.QueryString["ShowChangeDate"]))<br /><br />


                    <label for="ShowResidenceInfo"><b>Podaci o sjedištu</b></label>
                    @Html.CheckBox("ShowResidenceInfo", LinkHelper.isChecked(Request.QueryString["ShowResidenceInfo"]))<br />

                    @Html.Label("ShowCountry", "Država sjedišta")
                    @Html.CheckBox("ShowCountry", LinkHelper.isChecked(Request.QueryString["ShowCountry"]), new { @class = "residence-info-checkbox" })

                    @Html.Label("ShowCounty", "Županija sjedišta")
                    @Html.CheckBox("ShowCounty", LinkHelper.isChecked(Request.QueryString["ShowCounty"]), new { @class = "residence-info-checkbox" })<br />

                    @Html.Label("ShowCityCommunity", "Grad/općina sjedišta")
                    @Html.CheckBox("ShowCityCommunity", LinkHelper.isChecked(Request.QueryString["ShowCityCommunity"]), new { @class = "residence-info-checkbox" })

                    @Html.Label("ShowPostalOffice", "Poštanski ured sjedišta")
                    @Html.CheckBox("ShowPostalOffice", LinkHelper.isChecked(Request.QueryString["ShowPostalOffice"]), new { @class = "residence-info-checkbox" })<br />

                    @Html.Label("ShowPlace", "Naselje sjedišta")
                    @Html.CheckBox("ShowPlace", LinkHelper.isChecked(Request.QueryString["ShowPlace"]), new { @class = "residence-info-checkbox" })

                    @Html.Label("ShowStreetName", "Ulica i broj sjedišta")
                    @Html.CheckBox("ShowStreetName", LinkHelper.isChecked(Request.QueryString["ShowStreetName"]), new { @class = "residence-info-checkbox" })<br /><br />


                    <label for="ShowContactInfo"><b>Kontakt podaci</b></label>
                    @Html.CheckBox("ShowContactInfo", LinkHelper.isChecked(Request.QueryString["ShowContactInfo"]))<br />

                    @Html.Label("ShowPhone", "Telefon")
                    @Html.CheckBox("ShowPhone", LinkHelper.isChecked(Request.QueryString["ShowPhone"]), new { @class = "contact-info-checkbox" })

                    @Html.Label("ShowFax", "Fax")
                    @Html.CheckBox("ShowFax", LinkHelper.isChecked(Request.QueryString["ShowFax"]), new { @class = "contact-info-checkbox" })<br />

                    @Html.Label("ShowMobile", "Mobitel")
                    @Html.CheckBox("ShowMobile", LinkHelper.isChecked(Request.QueryString["ShowMobile"]), new { @class = "contact-info-checkbox" })

                    @Html.Label("ShowEMail", "E-mail")
                    @Html.CheckBox("ShowEMail", LinkHelper.isChecked(Request.QueryString["ShowEMail"]), new { @class = "contact-info-checkbox" })<br /><br />

                </div>
            </div>

            <div class="clear"></div>

            <div class="report-stats print-only">
                <h2>Vrijeme kreiranja reporta: @DateTime.Now</h2>
                    
                @if(Name != "") { <text><div class="row"><span class="">Tvrtka:</span><b>@Name</b></div></text> } 
                @if(OIB != "") { <text><div class="row"><span>OIB:</span><b>@OIB</b></div></text> }
                @if(MB != "") { <text><div class="row"><span>MB:</span><b>@MB</b></div></text> }
                @if(MBS != "") { <text><div class="row"><span>MBS:</span><b>@MBS</b></div></text> }
                                                                                                            
                @if(numberOfEmployeesFrom != "") { <text><div class="row"><span>Broj zaposlenih od:</span><b>@numberOfEmployeesFrom</b></div></text> }
                @if(numberOfEmployeesTo != "") { <text><div class="row"><span>Broj zaposlenih do:</span><b>@numberOfEmployeesTo</b></div></text> }
                                                                                                                                                 
                @if(fundamentalCapitalFrom != "") { <text><div class="row"><span>Temeljni kapital od:</span><b>@fundamentalCapitalFrom</b></div></text> }
                @if(fundamentalCapitalTo != "") { <text><div class="row"><span>Temeljni kapital do:</span><b>@fundamentalCapitalTo</b></div></text> }
                                                                                                                                                            
                @if(BankPK != "") { <text><div class="row"><span>Banka:</span><b>@ViewBag.Bank</b></div></text> }
                @if(TaxPK != "") { <text><div class="row"><span>Porez:</span><b>@ViewBag.Tax</b></div></text> }
                  
                @if(SubstationPK != "") { <text><div class="row"><span>Ispostava:</span><b>@ViewBag.Substation</b></div></text> }
                @if(CommercialCourtPK != "") { <text><div class="row"><span>Trgovački sud:</span><b>@ViewBag.CommercialCourt</b></div></text> }                    
                                                                                                              
                @if(FormPK != "") { <text><div class="row"><span>Oblik:</span><b>@ViewBag.Form</b></div></text> }
                @if(ActivityPK != "") { <text><div class="row"><span>Djelatnost:</span><b>@ViewBag.Activity</b></div></text> }
            </div>
        </div>
        if(firstRequest == false && showGrid == true) {
            <div id="grid-controls">
                <div class="grid-10 text-right">
                    <a href="#" class="button print icon"></a>
                </div>
                <div class="clear"></div>
            </div>
        }
    }

    @if(firstRequest == false) {
        
        <div class="grid-10">
            <div class="grid-holder">
                <table class="grid">
                    @if(Model.Count() > 0 && showGrid == true) {
                        <tr>
                            @if (LinkHelper.isChecked(Request.QueryString["ShowOrdinal"])){ <th class="w1">#</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowID"])){ <th class="w1">@MvcHtmlString.Create(LinkHelper.GetSortLink("ID", "LegalEntityPK"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowName"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Naziv", "Name"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowShortName"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Kratki naziv", "ShortName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowOIB"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("OIB", "OIB"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowMB"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("MB", "MB"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowMBS"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("MBS", "MBS"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowForm"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Oblik", "FormName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowActivity"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Djelatnost", "ActivityName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowActivityDescription"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Opis stvarne djelatnosti", "ActivityDescription"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowFundamentalCapital"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Temeljni kapital (kn)", "FundamentalCapital"))</th> }

                            @if (LinkHelper.isChecked(Request.QueryString["ShowRegionalOffice"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Područni ured", "RegionalOfficeName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowSubstation"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Ispostava", "SubstationName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowDateOfRegistration"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Datum registracije", "DateOfRegistration"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowCommercialCourt"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Trgovački sud", "CommercialCourtName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowTax"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Porez", "TaxName"))</th> }
                                                                                                                                               
                            @if (LinkHelper.isChecked(Request.QueryString["ShowChangeDate"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Datum rješenja", "ChangeDate"))</th> }
                                                                                                                                                                               
                            @if (LinkHelper.isChecked(Request.QueryString["ShowCountry"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Država sjedišta", "CountryName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowCounty"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Županija sjedišta", "CountyName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowCityCommunity"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Grad/općina sjedišta", "CityCommunityName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowPostalOffice"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Poštanski ured sjedišta", "PostalOfficeName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowPlace"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Naselje sjedišta", "PlaceName"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowStreetName"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Ulica i broj sjedišta", "StreetName"))</th> }
                                                                                                                                                                                  
                            @if (LinkHelper.isChecked(Request.QueryString["ShowPhone"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Telefon", "Phone"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowFax"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Fax", "Fax"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowMobile"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("Mobitel", "Mobile"))</th> }
                            @if (LinkHelper.isChecked(Request.QueryString["ShowEMail"])){ <th class="left w3">@MvcHtmlString.Create(LinkHelper.GetSortLink("E-mail", "EMail"))</th> }
                                                                                                                                                                                            
                            @if (userRoles.Contains("delete"))
                            { 
                                <th class="w3 no-print">Operacije</th>
                            }
                        </tr>
                
                        int i = 1; 
                
                        foreach (var item in Model)
                        {
                            <tr class="@if(i%2 != 0){ @MvcHtmlString.Create("odd"); }">
                                @if (LinkHelper.isChecked(Request.QueryString["ShowOrdinal"])){ <td>@i.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowID"])){ <td class="@LinkHelper.getIsSorted("LegalEntityPK")">@item.LegalEntityPK.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowName"])){ <td class="left @LinkHelper.getIsSorted("Name")">@item.Name.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowShortName"])){ <td class="left @LinkHelper.getIsSorted("ShortName")">@item.ShortName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowOIB"])){ <td class="left @LinkHelper.getIsSorted("OIB")">@item.OIB.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowMB"])){ <td class="left @LinkHelper.getIsSorted("MB")">@item.MB.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowMBS"])){ <td class="left @LinkHelper.getIsSorted("MBS")">@item.MBS.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowForm"])){ <td class="left @LinkHelper.getIsSorted("FormName")">@item.FormName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowActivity"])){ <td class="left @LinkHelper.getIsSorted("ActivityName")">@item.ActivityName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowActivityDescription"])){ <td class="left @LinkHelper.getIsSorted("ActivityDescription")">@item.ActivityDescription.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowFundamentalCapital"])){ <td class="left @LinkHelper.getIsSorted("FundamentalCapital")">@if(item.FundamentalCapital != null){ @item.FundamentalCapital.Value.ToString("0,0.00") }</td> }

                                @if (LinkHelper.isChecked(Request.QueryString["ShowRegionalOffice"])){ <td class="left @LinkHelper.getIsSorted("ShortName")">@item.RegionalOfficeName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowSubstation"])){ <td class="left @LinkHelper.getIsSorted("SubstationName")">@item.SubstationName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowDateOfRegistration"])){ <td class="left @LinkHelper.getIsSorted("DateOfRegistration")">@item.DateOfRegistration.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowCommercialCourt"])){ <td class="left @LinkHelper.getIsSorted("CommercialCourtName")">@item.CommercialCourtName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowTax"])){ <td class="left @LinkHelper.getIsSorted("TaxName")">@item.TaxName.ToString()</td> }
                                                                                                                                               
                                @if (LinkHelper.isChecked(Request.QueryString["ShowChangeDate"])){ <td class="left @LinkHelper.getIsSorted("ChangeDate")">@item.ChangeDate.ToString()</td> }
                                                                                                                                                                               
                                @if (LinkHelper.isChecked(Request.QueryString["ShowCountry"])){ <td class="left @LinkHelper.getIsSorted("CountryName")">@item.CountryName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowCounty"])){ <td class="left @LinkHelper.getIsSorted("CountyName")">@item.CountyName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowCityCommunity"])) { <td class="left @LinkHelper.getIsSorted("CityCommunityName")">@item.CityCommunityName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowPostalOffice"])){ <td class="left @LinkHelper.getIsSorted("PostalOfficeName")">@item.PostalOfficeName</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowPlace"])){ <td class="left @LinkHelper.getIsSorted("PlaceName")">@item.PlaceName.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowStreetName"])){ <td class="left @LinkHelper.getIsSorted("StreetName")">@item.StreetName.ToString()</td> }
                                                                                                                                                                                  
                                @if (LinkHelper.isChecked(Request.QueryString["ShowPhone"])){ <td class="left @LinkHelper.getIsSorted("ShortName")">@item.Phone.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowFax"])){ <td class="left @LinkHelper.getIsSorted("Fax")">@item.Fax.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowMobile"])){ <td class="left @LinkHelper.getIsSorted("Mobile")">@item.Mobile.ToString()</td> }
                                @if (LinkHelper.isChecked(Request.QueryString["ShowEMail"])){ <td class="left @LinkHelper.getIsSorted("EMail")">@item.EMail.ToString()</td> }
                        
                                @if (userRoles.Contains("delete"))
                                {   
                                    <td class="no-print">@Html.ActionLink(" ", "DeleteTemporaryLegalEntities", new { legalEntityPK = @item.LegalEntityPK }, new { @class = "delete" })</td>
                                }
                            </tr>
                            i++;
                        }

                    }
                    else if(showGrid == false)
                    {
                        <tr>
                            <td class="no-records">Molimo odaberite polja za prikaz</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="no-records">Nema zapisa</td>
                        </tr>
                    }
                </table>
            </div>
        </div>  
        <div class="clear"></div>
    }
</div>

<script type="text/javascript">

    showCheckboxesGroups("ShowBasicInfo", "basic-info-checkbox");
    showCheckboxesGroups("ShowRegistrationInfo", "registration-info-checkbox");
    showCheckboxesGroups("ShowResidenceInfo", "residence-info-checkbox");
    showCheckboxesGroups("ShowContactInfo", "contact-info-checkbox");

</script>