@model List<Mateus.Model.BussinesLogic.Views.ActivityModel.ActivityView>
           
@using PITFramework.Security;
@using PITFramework.Support.Grid;

@{ string[] userRoles = SecurityHelper.GetUserRolesFromCookie(); }

<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>  
        @if (userRoles.Contains("add"))
        { 
            @Html.ActionLink("Nova djelatnost", "Add", null, new { @class = "button new" })
        }
    </div>
</div>

<div id="content">

    @using (Html.BeginForm("Index", "Activity", FormMethod.Get))
    {
        <div id="grid-controls">
            <div class="grid-3">&nbsp;</div>
            <div class="grid-4 text-center">
                @Html.TextBox("searchString", Request.QueryString["searchString"], new { placeholder = "Upišite pojam za pretragu", @class = "w40" })
                <input type="submit" value="Pretraži" class="button search" />
            </div>
            <div class="grid-3 text-right">
                <a href="#" class="button print icon"></a>
            </div>
            <div class="clear"></div>
        </div>
    }

    <div class="grid-10">
        <div class="grid-holder">
            <table class="grid">
                @if(Model.Count() > 0) {
                    <tr>
                        <th class="w2">#</th>
                        <th class="w2">@MvcHtmlString.Create(LinkHelper.GetSortLink("ID", "ActivityPK"))</th>
                        <th class="w56 desc left">@MvcHtmlString.Create(LinkHelper.GetSortLink("Naziv", "Name"))</th>
                        <th class="w30">@MvcHtmlString.Create(LinkHelper.GetSortLink("Šifra", "Code"))</th>
                        @if (userRoles.Contains("edit") || userRoles.Contains("delete"))
                        { 
                            <th class="w10 no-print">Operacije</th>
                        }
                    </tr>

                    int i = 1;    
                
                    foreach (var item in Model)
                    {
                        <tr class="@if(i%2 != 0){ @MvcHtmlString.Create("odd"); }">
                            <td>@i.ToString()</td>
                            <td class="@LinkHelper.getIsSorted("ActivityPK")">@item.ActivityPK.ToString()</td>
                            <td class="left @LinkHelper.getIsSorted("Name")">
                                @if (userRoles.Contains("edit"))
                                {
                                    if (!String.IsNullOrWhiteSpace(@item.Name))
                                    { 
                                        @Html.ActionLink(@item.Name, "Edit", new { activityPK = @item.ActivityPK})
                                    }
                                }
                                else
                                {
                                    if (!String.IsNullOrWhiteSpace(@item.Name))
                                    { 
                                        @item.Name
                                    }
                                }
                            </td>
                            <td class="@LinkHelper.getIsSorted("Code")">@if (!String.IsNullOrWhiteSpace(@item.Code)) { @item.Code }</td>
                            @if (userRoles.Contains("edit") || userRoles.Contains("delete"))
                            {  
                                <td class="no-print">
                                    @if (userRoles.Contains("edit"))
                                    {
                                        @Html.ActionLink(" ", "Edit", new { activityPK = @item.ActivityPK }, new { @class = "edit" })
                                    }
                                    @if (userRoles.Contains("delete"))
                                    {
                                        @Html.ActionLink(" ", "Delete", new { activityPK = @item.ActivityPK }, new { @class = "delete" })
                                    }
                                </td>
                            }
                        </tr>
                        i++;
                    }
            
                } 
                else 
                {
                    <tr>
                        <td class="no-records">Nema zapisa</td>
                    </tr>
                }
    
            </table>
            @Html.Partial("~/Views/Shared/Partial/Pager.cshtml")
        </div>
    </div>
    <div class="clear"></div>
</div>