@model Mateus.Model.BussinesLogic.Views.AssessmentsModel.AssessmentsView
           
<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "button back padding-right-0" })
        <a href="#" class="button refresh padding-right-0 margin-right-15"></a>
        <input type="submit" class="button save" value="Spremi" />
    </div>
</div>

<div id="content">

    <div class="grid-5">
        <div class="form">

            <h2>Informacije o procjeni</h2>

            <fieldset>
                <div class="row">
                    <label for="LegalEntityFK">Tvrtka:<b>*</b><span>molimo odaberite tvrtku</span></label>
                    <div class="input">
                        @Html.TextBoxFor(assessment => assessment.LegalEntityName, new { @class = "w100 autocomplete-with-hidden-field", data_autocomplete_url = Url.Action("AutocompleteLegalEntitiesWithOIB", "Ajax", null), autocomplete = "off"})
                        @Html.HiddenFor(assessment => assessment.LegalEntityFK)
                    </div>
                    <div class="error">@Html.ValidationMessageFor(assessment => assessment.LegalEntityFK)</div>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <label for="AssessmentDate">
                        Datum procjene:<b>*</b><span>molimo unesite datum procjene</span></label>
                    <div class="input">
                        @if (Model.AssessmentDate != null)
                        {
                            @Html.TextBoxFor(assessment => assessment.AssessmentDate, new { @class = "w50 datepicker", @Value = Model.AssessmentDate.Value.ToString("dd.MM.yyyy.") })
                        }
                        else
                        {
                            @Html.TextBoxFor(assessment => assessment.AssessmentDate, new { @class = "w50 datepicker" })
                        }
                    </div>
                    <div class="error">@Html.ValidationMessageFor(assessment => assessment.AssessmentDate)</div>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <label for="AssessmentComment">
                        Komentar:<b>*</b><span>molimo unesite komentar procjene</span></label>
                    <div class="input">@Html.TextBoxFor(assessment => assessment.AssessmentComment, new { @class = "w70" })</div>
                    <div class="error">@Html.ValidationMessageFor(assessment => assessment.AssessmentComment)</div>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <label for="AssessmentTypeFK">
                        Tip procjene:<b>*</b><span>molimo odaberite tip procjene</span></label>
                    <div class="input">@Html.DropDownListFor(assessment => assessment.AssessmentTypeFK, Model.AssessmentTypes, "Odaberite tip procjene", new { @class = "w80" })</div>
                    <div class="error">@Html.ValidationMessageFor(assessment => assessment.AssessmentTypeFK)</div>
                    <div class="clear">
                    </div>
                </div>

                @Html.HiddenFor(a => a.AssessmentPK)
                @Html.HiddenFor(a => a.LegalEntityFK)
            </fieldset>
        </div>
    </div>

    @if (Model.AssessmentsTypesView != null)
    {
    <div class="grid-5 @if (Model.AssessmentTypeFK == null){ @("display-none") }" id="assessmentTypesMainPanel">
           
        @foreach (var type in Model.AssessmentsTypesView)
        {
        <div id="@("assessmentType")@type.AssessmentType.AssessmentTypePK.ToString()" assessmentTypes="true" @if (Model.AssessmentTypeFK == null || Model.AssessmentTypeFK != @type.AssessmentType.AssessmentTypePK){ @("class=display-none") } >
            @if (type.AssessmentGroups.Count() == 0)
            {
                <div class="form">
                    <h2>Upozorenje</h2>
                    <fieldset>Nema definiranih grupa za odabrani tip.</fieldset>
                </div>
            }
            else
            {
                int i = 0;
                foreach (var group in type.AssessmentGroups)
                { 
                    <div class="form @if(i > 0) { @("margin-top-20") }">

                        <h2>@group.AssessmentGroup.Name</h2>
                            
                        @if (group.AssessmentQuestions.Count() == 0)
                        {
                            <fieldset>Nema definiranih pitanja za grupu @group.AssessmentGroup.Name</fieldset>
                        }
                        else
                        {
                            <fieldset>
                            @foreach (var question in group.AssessmentQuestions)
                            {
                                <div class="row">

                                    <label>@question.AssessmentQuestion.Name</label>

                                    <div class="radio-boxes-vertical">

                                        <label for="@("answer_da_")@question.AssessmentQuestion.AssessmentQuestionPK">Da</label>
                                        <input type="radio" value="Da" id="@("answer_da_")@question.AssessmentQuestion.AssessmentQuestionPK" name="answer[@question.AssessmentQuestion.AssessmentQuestionPK]" @if (question.Answer != null && (bool)question.Answer)
                                                                                                                                    {  @("checked") }/>
    
                                        <label for="@("answer_ne_")@question.AssessmentQuestion.AssessmentQuestionPK">Ne</label>
                                        <input type="radio" value="Ne" id="@("answer_ne_")@question.AssessmentQuestion.AssessmentQuestionPK" name="answer[@question.AssessmentQuestion.AssessmentQuestionPK]" @if (question.Answer != null && !(bool)question.Answer)
                                                                                                                                    {  @("checked") }/>
                                        
                                        <label for="@("answer_np_")@question.AssessmentQuestion.AssessmentQuestionPK">NP</label>
                                        <input type="radio" value="NP" id="@("answer_np_")@question.AssessmentQuestion.AssessmentQuestionPK" name="answer[@question.AssessmentQuestion.AssessmentQuestionPK]" @if (question.Answer == null)
                                                                                                                                { @("checked") } />
                                    </div>
                                    
                                </div>
                            }
                            </fieldset>
                        }
                    </div>
                    i++;
                }
            }
        </div>                 
        }
           
    </div> 
    }
    <div class="clear"></div>
</div>

<script type="text/javascript">
    $('#AssessmentTypeFK').change(function () {
        // hide all autogenerated panels
        $('div[assessmentTypes=true]').hide();
        // show only selected panel
        $('#assessmentTypesMainPanel').show();
        $('#' + 'assessmentType' + $(this).val()).show();
    }); 
</script>