@using Mateus.Model.BussinesLogic.Views.LegalEntityBranchAuditModel;

@{ 
    int count = 0; 
    if(ViewBag.LegalEntityBranchesHistory != null) 
    {
        if(ViewBag.LegalEntityBranchesHistory is List<List<LegalEntityBranchAuditView>>)
        {
            List<List<LegalEntityBranchAuditView>> models = (List<List<LegalEntityBranchAuditView>>)ViewBag.LegalEntityBranchesHistory;
            count = models.Count;
            
            if(count > 0) 
            {
                foreach(List<LegalEntityBranchAuditView> model in models)
                {
                    int countChanges = model.Count;
                    int cellWidth = (int) Math.Floor((double)84/countChanges);

                    <table class="grid">
                        <tr><th class="w16"></th>@for(int i = 0; i < countChanges; i++) { <th class="w@(cellWidth) left"><span>@(model[i].ChangeDate.Value.ToString("dd.MM.yyyy."))</span></th> }</tr>
                
                        <tr><td class="right"><b>Naziv</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted == true) { <td class="left deleted-entry" rowspan="11">Zapis obrisan</td> } else { <td class="left">@(model[i].Name)</td> } }</tr>
                
                        <tr><td class="right"><b>Država</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].CountryName)</td> } }</tr>
                        <tr><td class="right"><b>Županija</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].CountyName)</td> } }</tr>
                        <tr><td class="right"><b>Grad</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].CityCommunityName)</td> } }</tr>
                        <tr><td class="right"><b>Poštanski ured</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].PostalOfficeName)</td> } }</tr>
                        <tr><td class="right"><b>Mjesto</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].PlaceName)</td> } }</tr>
                        <tr><td class="right"><b>Ulica i broj</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].StreetName)</td> } }</tr>

                        <tr><td class="right"><b>Telefon</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@if(model[i].Phone == "DELETED-VALUE") { @("Obrisana vrijednost") } else { @(model[i].Phone) }</td> } }</tr>
                        <tr><td class="right"><b>Fax</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@if(model[i].Fax == "DELETED-VALUE") { @("Obrisana vrijednost") } else { @(model[i].Fax) }</td> } }</tr>
                        <tr><td class="right"><b>Mobitel</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@if(model[i].Mobile == "DELETED-VALUE") { @("Obrisana vrijednost") } else { @(model[i].Mobile) }</td> } }</tr>
                        <tr><td class="right"><b>E-mail</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@if(model[i].EMail == "DELETED-VALUE") { @("Obrisana vrijednost") } else { @(model[i].EMail) }</td> } }</tr>
                    </table>
                }
            }
            else
            {
                <table class="grid">
                    <tr>
                        <td class="no-records">Nema zapisa</td>
                    </tr>
                </table>
            }

        } 
        else if(ViewBag.LegalEntityBranchesHistory is List<LegalEntityBranchAuditView>)
        {
            List<LegalEntityBranchAuditView> model = (List<LegalEntityBranchAuditView>)ViewBag.LegalEntityBranchesHistory;
            int countChanges = model.Count;    
            int cellWidth = (int) Math.Floor((double)84/countChanges);
            
            <table class="grid">

                @if(countChanges > 0) 
                {
                    <tr><th class="w16"></th>@for(int i = 0; i < countChanges; i++) { <th class="w@(cellWidth) left"><span>@(model[i].ChangeDate.Value.ToString("dd.MM.yyyy."))</span></th> }</tr>
                
                    <tr><td class="right"><b>Naziv</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted == true) { <td class="left deleted-entry" rowspan="11">Zapis obrisan</td> } else { <td class="left">@(model[i].Name)</td> } }</tr>
                
                    <tr><td class="right"><b>Država</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].CountryName)</td> } }</tr>
                    <tr><td class="right"><b>Županija</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].CountyName)</td> } }</tr>
                    <tr><td class="right"><b>Grad</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].CityCommunityName)</td> } }</tr>
                    <tr><td class="right"><b>Poštanski ured</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].PostalOfficeName)</td> } }</tr>
                    <tr><td class="right"><b>Mjesto</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].PlaceName)</td> } }</tr>
                    <tr><td class="right"><b>Ulica i broj</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].StreetName)</td> } }</tr>

                    <tr><td class="right"><b>Telefon</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].Phone)</td> } }</tr>
                    <tr><td class="right"><b>Fax</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].Fax)</td> } }</tr>
                    <tr><td class="right"><b>Mobitel</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].Mobile)</td> } }</tr>
                    <tr><td class="right"><b>E-mail</b></td>@for(int i = 0; i < countChanges; i++) { if(model[i].Deleted != true) { <td class="left">@(model[i].EMail)</td> } }</tr>
                }
                else
                {
                    <tr>
                        <td class="no-records">Nema zapisa</td>
                    </tr>
                }

            </table>

        }
    }
    else
    {
        <table class="grid">
            <tr>
                <td class="no-records">Nema zapisa</td>
            </tr>
        </table>
    }

}