@model Mateus.Model.BussinesLogic.Views.BankModel.BankView

<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "button back padding-right-0" })
        <a href="#" class="button refresh padding-right-0 margin-right-15"></a>       
        <input type="submit" class="button save" value="Spremi" />
    </div>
</div>

<div id="content">

    <div class="grid-5">
        <div class="form">

            <h2>Informacije o banci</h2>
                
            <fieldset>
                <div class="row">
                    <label for="Name">Naziv:<b>*</b><span>molimo unesite naziv</span></label>
                    <div class="input">@Html.TextBoxFor(bank => bank.Name, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(bank => bank.Name)</div>
                    <div class="clear"></div>
                </div>

                    <div class="row">
                    <label for="AccountNumber">Broj računa:<b>*</b><span>molimo unesite broj računa</span></label>
                    <div class="input">@Html.TextBoxFor(bank => bank.AccountNumber, new { @class = "w50", maxlength = "7" })</div>
                    <div class="error">@Html.ValidationMessageFor(bank => bank.AccountNumber)</div> 
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Swift">SWIFT:<b>*</b><span>molimo unesite SWIFT</span></label>
                    <div class="input">@Html.TextBoxFor(bank => bank.Swift, new { @class = "w50" })</div>
                    <div class="error">@Html.ValidationMessageFor(bank => bank.Swift)</div> 
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Oib">OIB:<b>*</b><span>molimo unesite OIB</span></label>
                    <div class="input">@Html.TextBoxFor(bank => bank.Oib, new { @class = "w50", maxlength = "11" })</div>
                    <div class="error">@Html.ValidationMessageFor(bank => bank.Oib)</div>
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Iban">IBAN:<b>*</b><span>molimo unesite IBAN</span></label>
                    <div class="input">@Html.TextBoxFor(bank => bank.Iban, new { @class = "w50" })</div>
                    <div class="error">@Html.ValidationMessageFor(bank => bank.Iban)</div>                                                                                                                                                                                         
                    <div class="clear"></div>
                </div>
            </fieldset>

        </div>
    </div>   
    <div class="clear"></div>
</div>