@model Mateus.Model.BussinesLogic.Views.Account.UserAccountView

@{
    TempData["Roles"] = Model.Roles;
}

<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>
        @Html.ActionLink(" ", "Index", Session["ControllerReferrer"].ToString(), null, new { @class = "button back padding-right-0" })
        <a href="#" class="button refresh padding-right-0 margin-right-15"></a>       
        <input type="submit" class="button save" value="Spremi" />
    </div>
</div>

<div id="content">

    <div class="grid-5">
        <div class="form">
            <h2>Informacije o računu</h2>
            <fieldset>

               <div class="row">
                    <label for="Username">Korisničko ime:<span>unesi korisničko ime</span></label>
                    <div class="input">@Html.TextBoxFor(user => user.Username, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(user => user.Username)</div>
                    <div class="clear"></div>
                </div>
                
                <div class="row @if (Model.UserPK == null) { @("display-none") }">
                    <label for="ChangePassword">Promijeni šifru:<span>promijeni šifru</span></label>
                    <div class="input">@Html.CheckBox("ChangePassword")</div>
                    <div class="clear"></div>
                </div>

                <div class="row @if (!Model.ChangePassword) { @("display-none") }">
                    <label for="Password">Šifra:<span>unesi šifru</span></label>
                    <div class="input">@Html.PasswordFor(user => user.Password, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(user => user.Password)</div>
                    <div class="clear"></div>
                </div>

                <div class="row @if (!Model.ChangePassword) { @("display-none") }">
                    <label for="ConfirmPassword">Potvrda šifre:<span>potvrdi šifru</span></label>
                    <div class="input">@Html.PasswordFor(user => user.ConfirmPassword, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(user => user.ConfirmPassword)</div>
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Email">E-mail:<span>unesi e-mail</span></label>
                    <div class="input">@Html.TextBoxFor(user => user.Email, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(user => user.Email)</div>
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="RolePK">Korisnička prava pristupa:<span>ctrl+click za višestruki odabir</span></label> 
                    <div class="input">@Html.ListBox("RolePK", Model.Roles as MultiSelectList, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(user => user.RolePK)</div>
                    <div class="clear"></div>
                </div>

            </fieldset>
        </div>
    </div>    

    <div class="grid-5">
        <div class="form">
            <h2>Korisničke informacije</h2>
            <fieldset>

                <div class="row">
                    <label for="FirstName">Ime:<span>unesi ime</span></label>
                    <div class="input">@Html.TextBoxFor(user => user.FirstName, new { @class = "w100" })</div>
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="LastName">Prezime:<span>unesi prezime</span></label>
                    <div class="input">@Html.TextBoxFor(user => user.LastName, new { @class = "w100" })</div>
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="Active">Aktivan:<span>korisnik je aktivan</span></label>
                    <div class="input">@Html.CheckBox("Active")</div>
                    <div class="clear"></div>
                </div>

            </fieldset>
        </div>
    </div>

    <div class="clear"></div>

</div>  

<script type="text/javascript">
    showTwoNextRowsIfChecked("ChangePassword");
</script>