@model Mateus.Model.BussinesLogic.Views.SubstationModel.SubstationView

<div id="controls-bar">
    @Html.Partial("~/Views/Shared/Partial/Breadcrumb.cshtml")
    <div>
        @Html.ActionLink(" ", "Index", Session["ControllerReferrer"].ToString(), null, new { @class = "button back padding-right-0" })
        <a href="#" class="button refresh padding-right-0 margin-right-15"></a>       
        <input type="submit" class="button save" value="Spremi" />
    </div>
</div>

<div id="content">

    <div class="grid-5">
        <div class="form">

            <h2>Informacije o ispostavi</h2>

            <fieldset>
                <div class="row">
                    <label for="Name">Naziv:<b>*</b><span>molimo unesite naziv</span></label>
                    <div class="input">@Html.TextBoxFor(substation => substation.Name, new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(substation => substation.Name)</div>
                    <div class="clear"></div>
                </div>

                <div class="row">
                    <label for="RegionalOfficeFK">Regionalni ured:<b>*</b><span>molimo odaberite regionalni ured</span></label>
                    <div class="input">@Html.DropDownListFor(substation => substation.RegionalOfficeFK, Model.RegionalOffices, "Odaberite regionalni ured", new { @class = "w100" })</div>
                    <div class="error">@Html.ValidationMessageFor(substation => substation.RegionalOfficeFK)</div>
                    <div class="clear"></div>
                </div>

            </fieldset>

        </div>
    </div>

    <div class="clear"></div>

</div>  